.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container form {
	text-align: center;
}

.login-container form #email,
.login-container form #password {
	text-align: left;
}
