.map-container > div {
  height: 100vh;
  display: flex;
  align-items: center;
}
.map-form {
  flex: 1;
  padding: 20px;
  background-color: #ccc;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.5);
  height: 100%;
  z-index: 10;
}
.map {
  flex: 3;
  height: 100%;
}
